{{ title }}

{{ header }}

{% for item in items %}

    {{- item['summary'] }}

    {% if item['start']['dateTime'] is defined -%}
        Date and Time: {{ item['start']['dateTime'] | humandate }}
    {% elif item['start']['date'] is defined  -%}
        Date and Time: {{ item['start']['date'] | humandateonly }}
    {% else -%}
        Date and Time: Unknown.
    {% endif %}
    {% if item['location'] is defined -%}
        Location: {{ item['location'] }}
    {% else -%}
        Location: unknown.
    {% endif %}
    
    {% if True -%}
    Google Calendar Link: {{ item['htmlLink'] }} 

    {% endif %}

    {{- item['description'] }} 

======

{% endfor %}
