{{ title }}
{{ title | underline("=") }}

{{ header }}

{% for date_category, itemlist in items.items() %}

    {{- date_category }}
    {% if True -%}
        {{ date_category | underline("-") }}
    {% endif %}

    {% for item in itemlist %}
        {%- if item['start']['dateTime'] is defined %}
            {{- item['start']['dateTime'] | timeonly }}
        {%- elif item['start']['date'] is defined  -%}
            All Day
        {%- else -%}
            TBA
        {% endif -%}
        : {{ item['summary'] }}
        {% if item['location'] is defined -%}
            {{ '        ' }} Location: {{ item['location'] | truncate(60) }}
        {% else -%}
            {{ '        ' }} Location: unknown.
        {% endif %}
        {% if True -%}
            {{ '        ' }} Learn More: {{ item['htmlLink'] | addtz | shorturl }} 
        {% endif %}

    {% endfor %}

{% endfor %}

